---
import User from '@/components/icons/User.astro'
---
<div class="max-w-xl">
    <div class="text-3xl font-semibold flex items-center gap-3">
        <User class="size-8" />
        <h2>
            Sobre mi    
        </h2>
    </div>
    <div class="text-lg flex flex-col gap-6 mt-16">
        <p>
            ¡Hola, soy Ignacio! Soy un Desarrollador Web localizado en San Cayetano, Buenos Aires. Recientemente finalicé mis estudios en Desarrollo Web y disfruto creando aplicaciones eficientes y atractivas para los usuarios.
        </p>
        <p>
            La programación me mantiene concentrado y creativo, siempre buscando nuevas ideas y soluciones. Actualmente, trabajo en mi propia panadería y disfruto haciendo deporte para mantener un equilibrio en mi vida.
        </p>
        <p>
            Me considero una persona detallista, curiosa y con una gran capacidad de aprendizaje. Siempre me esfuerzo por hacer las cosas de la mejor manera posible, lo cual es mi principal virtud y filosofía.
        </p>
        
    </div>
</div>