<div class="flex">
    <span class="relative inline-flex items-center overflow-hidden rounded-full size-fit p-[1px]">
        <span class="absolute inset-[-1000%] animate-[spin_2s_infinite] bg-[conic-gradient(from_90deg_at_50%,#0369a1_0%,#07598512_50%,#0284c7_80%)]"></span>
        <div class="text-sm z-[1] inset-8 cursor-pointer inline-flex justify-center items-center rounded-full px-3 py-1 bg-slate-900">
            <slot />
        </div>
    </span>

</div>