<div class="max-w-5xl lg:max-w-7xl md:max-w-6xl w-full place-self-center  relative sm:top-28 md:top-16 lg:top-20 top-32 z-20 px-4" slot="fallback">
    <div class="bg-[#acbbce] dark:bg-gray-900 text-center rounded-md py-8 lg:py-16 px-8 w-full mt-8 flex flex-col md:flex-row gap-6 items-center justify-between">
        <div class="text-2xl font-semibold">
            <h3>
                ¿Tienes una idea innovadora?
            </h3>
        </div>

        <div>
            <p class="w-full text-wrap">
                Colaboremos para hacerla realidad. Conéctate conmigo y hablemos.
            </p>
        </div>
        <div class="relative">
            <div class="absolute -inset-1.5 -skew-y-[1.5deg] border-2 border-slate-500 dark:border-foreground-200 " aria-hidden="true" ></div>
            <span class="relative dark:text-foreground-150">
                Mis redes debajo
            </span>
        </div>
    </div>
</div>
