<header class="h-8 fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex items-center px-3 font-medium animate-nav-shadown">
            <a class="nav-link" href="#educacion">Educacion</a>
            <a class="nav-link"href="#proyectos">Proyectos</a>
            <a class="nav-link"href="#sobre-mi">Sobre mi</a>
            <a class="nav-link"href="#contacto">Contacto</a>
            <div>
                <button></button>
                <div class="hidden">
                    <ul>
                        <li>Light</li>
                        <li>Dark</li>
                        <li>System</li>
                    </ul>
                </div>
            </div>
    </nav>
</header>
