---
import LinkIcon from './icons/Link.astro'
import Github from './icons/logos/Github.astro'

interface Props{
    title: string
    img: string
    href?: string
    description: string
    tags?: string[]
}

const {title, img, href, description} = Astro.props
---

<li class="flex group md:max-w-xs rounded-lg shadow-md dark:shadow-sm dark:shadow-white/10">
    <a href={href}>
        <div class="overflow-hidden rounded-lg shadow relative min-h-fit h-fit">
            <img loading="lazy" class="rounded-t-lg md:rounded-lg w-full h-fit md:min-h-[225px]" src={img} alt="" />
            <div class="md:absolute rounded-b-lg transform md:translate-y-full dark:bg-gray-900/90 md:invisible md:opacity-0 transition-all duration-500 ease-in-out group-hover:visible group-hover:opacity-100 md:group-hover:-translate-y-full md:group-hover:backdrop-blur-sm will-change-auto">
                <div class="p-5 flex flex-col justify-between h-full">
                    <h5 class="mb-2 md:text-base text-2xl font-extrabold tracking-tight md:text-slate-100 text-gray-800 dark:text-white">{title}</h5>
                    <p class="mb-3 text-sm text-pretty font-normal md:text-slate-200 text-gray-700 dark:text-gray-400">{description}</p>
                    <div class="flex items-center">
                        <a href="https://github.com/IgnacioSotelo5/dynamic-slug" target="_blank" class="group/item card-btn">
                            <Github class="w-5 h-5 group-hover/item:fill-current" />
                            Código
                        </a>
                        <a href="" class="group/item card-btn">
                            <LinkIcon class="w-5 h-5 group-hover/item:text-current" />
                            Preview
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</li>


<style>
    .card-btn{
        @apply inline-flex gap-x-2 items-center px-3 py-1.5 text-sm font-medium dark:text-white md:text-white rounded-md transition duration-500 ease-in-out hover:text-indigo-300 hover:scale-105 focus:ring-2 focus:outline-none focus:ring-blue-300 dark:hover:bg-transparent dark:hover:text-indigo-600 dark:hover:fill-indigo-600 dark:focus:ring-slate-800
    }
    
</style>
